## Waze Churn Analysis Project

This notebook contains the initial steps in analyzing the Waze app user data to prepare for a churn prediction model. The goal is to understand user behavior and identify features that contribute to user churn.

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("waze_dataset.csv")
df.head()

,ID,label,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days,device
0,0,retained,283,226,296.748273,2276,208,0,2628.845068,1985.775061,28,19,Android
1,1,retained,133,107,326.896596,1225,19,64,13715.920550,3160.472914,13,11,iPhone
2,2,retained,114,95,135.522926,2651,0,0,3059.148818,1610.735904,14,8,Android
3,3,retained,49,40,67.589221,15,322,7,913.591123,587.196542,7,3,iPhone
4,4,retained,84,68,168.247020,1562,166,5,3950.202008,1219.555924,27,18,Android

### Next Steps:
Iâ€™ll now:

Summarize the data types of each column.

Gather descriptive statistics to support EDA.

Draft a brief executive summary for both technical and non-technical stakeholders.

In [4]:
waze = df

In [7]:
waze.dtypes

ID                           int64
label                       object
sessions                     int64
drives                       int64
total_sessions             float64
n_days_after_onboarding      int64
total_navigations_fav1       int64
total_navigations_fav2       int64
driven_km_drives           float64
duration_minutes_drives    float64
activity_days                int64
driving_days                 int64
device                      object
dtype: object

### Observations:
The target column is label, which is categorical with values like retained.

The feature columns are mostly numerical, suitable for machine learning models.

device is a categorical variable (e.g., "Android", "iPhone").

Next, Iâ€™ll compute descriptive statistics to assist in exploratory data analysis.

In [8]:
waze_summary = waze.describe(include='all')
waze_summary

,ID,label,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days,device
count,14999.000000,14299,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999
unique,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,retained,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,iPhone
freq,NaN,11763,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9672
mean,7499.000000,NaN,80.633776,67.281152,189.964447,1749.837789,121.605974,29.672512,4039.340921,1860.976012,15.537102,12.179879,NaN
std,4329.982679,NaN,80.699065,65.913872,136.405128,1008.513876,148.121544,45.394651,2502.149334,1446.702288,9.004655,7.824036,NaN
min,0.000000,NaN,0.000000,0.000000,0.220211,4.000000,0.000000,0.000000,60.441250,18.282082,0.000000,0.000000,NaN
25%,3749.500000,NaN,23.000000,20.000000,90.661156,878.000000,9.000000,0.000000,2212.600607,835.996260,8.000000,5.000000,NaN
50%,7499.000000,NaN,56.000000,48.000000,159.568115,1741.000000,71.000000,9.000000,3493.858085,1478.249859,16.000000,12.000000,NaN
75%,11248.500000,NaN,112.000000,93.000000,254.192341,2623.500000,178.000000,43.000000,5289.861262,2464.362632,23.000000,19.000000,NaN
max,14998.000000,NaN,743.000000,596.000000,1216.154633,3500.000000,1236.000000,415.000000,21183.401890,15851.727160,31.000000,30.000000,NaN

#### Early Observations:
Some users have zero sessions, drives, or activityâ€”likely candidates for churn.

High values in driven_km_drives and duration_minutes_drives suggest loyal users with significant engagement.

The wide range in total_navigations_fav1 and fav2 could be key behavioral signals for retention.

### ðŸ§¾ Column Descriptions

| Column Name               | Type   | Description                                                                 |
|---------------------------|--------|-----------------------------------------------------------------------------|
| `ID`                      | int    | A sequential numbered index (unique identifier for each user)              |
| `label`                   | object | **Target variable** â€“ whether the user was _retained_ or _churned_         |
| `sessions`                | int    | Number of times a user opened the app during the month                     |
| `drives`                  | int    | Number of times a user drove at least 1 km during the month                |
| `device`                  | object | Type of device used to start a session (e.g., Android, iOS)                |
| `total_sessions`          | float  | Estimated total number of sessions since the user onboarded                |
| `n_days_after_onboarding` | int    | Number of days since the user signed up for the app                        |
| `total_navigations_fav1` | int    | Total navigations to the userâ€™s favorite place 1 since onboarding          |
| `total_navigations_fav2` | int    | Total navigations to the userâ€™s favorite place 2 since onboarding          |
| `driven_km_drives`        | float  | Total kilometers driven by the user during the month                       |
| `duration_minutes_drives`| float  | Total duration (in minutes) the user drove during the month                |
| `activity_days`           | int    | Number of days the user opened the app during the month                    |
| `driving_days`            | int    | Number of days the user drove at least 1 km during the month               |

-

### Next Step:
Iâ€™ll draft a brief executive summary tailored for both the technical and cross-functional team members.